<!-- Vertical layout -->
<ng-scrollbar style="height: calc(100vh - 70px)" visibility="hover">
  <div class="navbar-content">
    <ul class="nav coded-inner-navbar" tabindex="0" (click)="fireOutClick()" (keydown.space)="fireOutClick()" (keydown.enter)="fireOutClick()">
      <ng-container *ngFor="let item of navigations; let i = index; trackBy: trackByUniqueId">
        @if (item.type === 'group') {
          <app-nav-group [item]="item" />
        } @else if (item.type === 'collapse') {
          <app-nav-collapse [item]="item" />
        } @else if (item.type === 'item') {
          <app-nav-item [item]="item" />
        }
      </ng-container>
    </ul>
    <div class="pc-navbar-card bg-primary rounded">
      <h4 class="text-white">TCC 2025</h4>
      <p class="text-white">Gabriel Maia, Lucca Limoeiro e Pedro Andrade</p>
    </div>
  </div>
</ng-scrollbar>
