<div class="row">
  <div class="col-xl-12 col-md-6">
    <div class="card balance-card bg-purple text-white">
      <!-- Elementos decorativos -->
      <span class="round round-small"></span>
      <span class="round round-large"></span>

      <div class="card-body">
        <div class="row">
          <!-- Conteúdo à esquerda -->
          <div class="col-md-8">
            <div class="header-content">
              <div class="welcome-section">
                <h2 class="greeting-title">
                  Olá, Gabriel Maia <span class="wave-emoji">👋</span>
                </h2>
                <p class="greeting-subtitle">
                  Vamos achar o melhor talento para você
                </p>
              </div>
            </div>
            <div class="balance-info">
              <div class="balance-amount">
                <span class="amount">R$500.00</span>
                <i class="ti ti-circle-arrow-up-right balance-icon"></i>
                <div class="position-relative mt-2">
                  <span class="round round-small-left"></span>
                  <span class="round round-large-left"></span>
                </div>
              </div>
              <p class="balance-label">Saldo no app</p>
            </div>
          </div>

          <!-- Gráfico à direita -->
          <div class="col-md-4">
            <div class="card earning-card bg-primary-dark text-white overflow-hidden">
              <span class="round primary-round small"></span>
              <span class="round primary-round big"></span>
              <div class="card-body">
                <app-chart-data-month />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-card cardTitle="Categorias de Serviços" class="categories-card">
  <div class="categories-container card total-income-card warning overflow-hidden">
    <div style="margin-top: 20px;"  class="categories-grid" [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'">
      <div *ngFor="let category of serviceCategories" class="category-item"
        [routerLink]="['/catalogo', category.routeParam]">
        <div class="category-icon">
          <i [class]="category.icon"></i>
        </div>
        <span class="category-name">{{ category.name }}</span>
      </div>
    </div>

    <div class="expand-button-container" [class.expanded]="isExpanded">
      <button mat-button (click)="toggleExpand()" class="expand-button" [class.expanded]="isExpanded">
        <span>{{ isExpanded ? 'Ver menos' : 'Ver mais' }}</span>
        <mat-icon [class.rotated]="isExpanded">expand_more</mat-icon>
      </button>
    </div>
  </div>
</app-card>


<app-card cardTitle="Freelancers em Destaque">
  <app-freelancer-carousel></app-freelancer-carousel>
</app-card>

