<div class="row">
  <div class="col-xl-12 col-md-6">
    <div class="card balance-card bg-purple text-white">
      <!-- Elementos decorativos -->
      <span class="round round-small"></span>
      <span class="round round-large"></span>

      <div class="card-body">
        <div class="row">
          <!-- Conteúdo à esquerda -->
          <div class="col-md-8">
            <div class="header-content">
              <div class="welcome-section">
                <h2 class="greeting-title">
                  Olá, Gabriel Maia <span class="wave-emoji">👋</span>
                </h2>
                <p class="greeting-subtitle">
                  Vamos achar o melhor talento para você
                </p>
              </div>
            </div>
            <div class="balance-info">
              <div class="balance-amount">
                <span class="amount">R$500.00</span>
                <i class="ti ti-circle-arrow-up-right balance-icon"></i>
                <div class="position-relative mt-2">
                  <span class="round round-small-left"></span>
                  <span class="round round-large-left"></span>
                </div>
              </div>
              <p class="balance-label">Saldo no app</p>
            </div>
          </div>

          <!-- Gráfico à direita -->
          <div class="col-md-4">
            <div class="card earning-card bg-primary-dark text-white overflow-hidden">
              <span class="round primary-round small"></span>
              <span class="round primary-round big"></span>
              <div class="card-body">
                <app-chart-data-month />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-card cardTitle="Categorias de Serviços" class="f-s-20">
  <div class="categories-grid">
    <div *ngFor="let category of serviceCategories" class="category-item" [routerLink]="['/catalogo', category.name]">
      <div class="category-icon">
        <i [class]="category.icon"></i>
      </div>
      <span>{{ category.name }}</span>
    </div>
  </div>
</app-card>


 <!-- <div class="col-xl-4 col-md-12">
    <div class="card total-income-card overflow-hidden bg-primary-dark text-white">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon m-r-5">
            <i class="text-white ti ti-layout-board-split f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white f-w-600 mb-1">$203k</h4>
            <p class="mb-0 opacity-50 text-sm">Total Income</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-warning ti ti-layout-board-split f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">$203k</h4>
            <p class="mb-0 opacity-50 text-sm">Total Income</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-md-12">
    <app-bar-chart />
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Popular Stocks</h4>
          </div>
          <div class="col-auto"></div>
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Bajaj Finery</h5>
                <small class="text-muted">10% Profit</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">$1839.00</h4>
              </div>
            </div>
          </div>
          <app-bajaj-chart />
        </div>
        <ul class="list-group list-group-flush">
          @for (list of ListGroup; track list) {
            <li class="list-group-item px-0 {{ list.space }}">
              <div class="row align-items-start">
                <div class="col">
                  <h5 class="mb-0">{{ list.name }}</h5>
                  <small class="{{ list.color }}">{{ list.profit }}</small>
                </div>
                <div class="col-auto">
                  <h4 class="mb-0">
                    {{ list.invest }}
                    <span class="ms-2 align-top avatar avatar-xxs {{ list.bgColor }}">
                      <i class="{{ list.icon }} {{ list.color }}"></i>
                    </span>
                  </h4>
                </div>
              </div>
            </li>
          }
        </ul>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary f-w-500">
            View all
            <i class="ti ti-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div> -->